body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.693);
}
.weather-input{
    margin: 30px;
}
.cityInput{
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    border: none;
}

#submit-btn{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(7, 214, 7);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border:   none;
}
#submit-btn:hover{
    background-color: green;
} 
.container{
    display: none;
     background: linear-gradient(
        180deg,
        hsl(210,100%,75%),
        hsl(210,100%,75%),
        hsl(40,100%,50%)
    );
    padding: 50px;
    min-width: 300px;
    /* text-align: center; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px boxshadow;
    text-align: center;
}
.error-message{
    display: none;
    background-color: #fff;
    padding: 50px;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px boxshadow;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.container h1{
    font-size: 2.5rem;
    margin-top: 0px;
}

.container p{
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.weatheremoji{
    margin: 0px 5px;
    font-size: 3em;
}
